@import "/src/styles/theme.scss";

.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: $containerMaxWidth;
  padding: 0 36px;

  overflow: auto;

  @media screen and (min-width: $containerMaxWidth) {
    flex-direction: unset;
    justify-content: space-between;
    overflow: hidden;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  & > a {
    margin-bottom: 16px;
    & > svg {
      margin-right: 8px;
    }
  }
}

.listWrapper {
  width: 100%;
  @media screen and (min-width: $containerMaxWidth) {
    overflow: auto;

    max-width: 550px;
    height: 600px;

    padding-right: 8px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #111340;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
