@import "/src/styles/theme.scss";

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.wrapper {
  position: relative;
  display: flex;
  height: 48px;
  width: 300px;
}

.label {
  position: absolute;
  top: 30%;
  left: 2px;

  padding: 0 16px;

  color: #bfbfbf;
  background-color: $background;

  pointer-events: none;

  transition: all 0.2s ease-in-out;
}

.iconButton {
  position: absolute;
  right: 0;
  height: 48px;
  width: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  background-color: $secondary;
  color: $primary;
  border-radius: 0 $borderRadius $borderRadius 0;

  &:disabled {
    background-color: transparent;
    color: $secondary;
  }
}

.input {
  appearance: none;
  flex: 1;
  min-width: 300px;

  font-size: 14px;
  color: $textOnSurface;
  background-color: transparent;

  border: 2px solid $secondary;
  border-radius: $borderRadius;

  padding-left: 16px;
  padding-right: 48px;

  transition: all $transition;

  &:focus,
  &:valid {
    & + .label {
      top: -12%;
      left: 10px;

      padding: 0 4px;

      color: $secondary;
      font-size: 12px;
    }
  }
}

.notFound {
  composes: wrapper;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
