@import "/src/styles/theme.scss";

.container {
  flex: 1;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: $containerMaxWidth;
}

.paragraph {
  font-size: 32px;
  line-height: 150%;
}
