@import "/src/styles/theme.scss";

.avatar {
  border-radius: $borderRadius;
  max-width: 215px;

  @media screen and (min-width: $containerMaxWidth) {
    max-width: unset;
  }
}

.withBorder {
  composes: avatar;
  border: 2px solid $primary;
}
