@import "/src/styles/theme.scss";

@keyframes bottomToUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.repo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & + .repo {
    margin-top: 8px;
  }

  & > p {
    flex: 1;
  }

  &:hover {
    filter: brightness(75%);
  }

  animation: bottomToUp 0.3s ease-in-out both;
}
